In [ ]:
num  = int(input("Enter a number: "))
if num >=0 :
  if num == 0:
    print("Zero")
  else:
    print("Positive number")
else:
  print("Negative number")

Enter a number: 0
Zero

In [ ]:
match = input("Enter a character: ")
case = match.lower()
if case == 'a' or case == 'e' or case == 'i' or case == 'o' or case == 'u':
  print("Vowel")

Enter a character: -5

In [ ]:
x, y =10,20
option=input("Enter your choice option")
match option:
 case'+':
    print("SUM OF VALUES", x + y)
 case'-':
    print("SUBRACTION OF VALUES", x-y)
 case'*':
    print("MULTIPLICATION OF VALUES", x*y)
 case'/':
    print("DIVISION OF VALUES", x/y)
 case'%':
    print(" MODULUS OF VALUES", x%y)
 case'!=':
    print("NOT EQUAL TO VALUES", x!=y)
 case _:
    print("INVALID CHOICE")

Enter your choice option+
SUM OF VALUES 30

In [ ]:
option=int(input("Enter your choice option"))
match option:
 case 1:
    print("Monday")
 case 2:
    print("Tuesday")
 case 3:
    print("Wednesday")
 case 4:
    print("Thursday")
 case 5:
    print("Friday")
 case 6:
    print("Saturday")
 case 7:
    print("Sunday")
 case _:
    print("INVALID CHOICE")

Enter your choice option9
INVALID CHOICE

In [ ]:
option=int(input("Enter your choice option"))
match option:
 case 1:
    print("January")
 case 2:
    print("February")
 case 3:
    print("March")
 case 4:
    print("april")
 case 5:
    print("May")
 case 6:
    print("June")
 case 7:
    print("July")
 case 8:
    print("August")
 case 9:
    print("September")
 case 10:
    print("October")
 case 11:
    print("November")
 case 12:
    print("December")
 case _:
    print("invalid choice")

Enter your choice option2
February

In [ ]:
i = 1
while i <= 60 :
  print(i,end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
#sum ofn natural numbers
i=1
add=0
while i<=10:
  add=add+i
  i=i+1
print("sum of n natural number is",add)

sum of n natural number is 55

In [ ]:
# table of 5
i=1
num=5
while i<=10:
 print("5*",i,"=",num*i)
 i = i + 1

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [ ]:
num = 153
rem = 0
sum = 0
temp = num
while num > 0:
   rem = num % 10
   sum = sum + rem * rem * rem
   num = num //10
if temp == sum :
  print("armstrong number")
else:
  print("not armstrong number")

armstrong number

In [ ]:
num = 1234
rem = 0
sum = 0
temp = num
while num > 0:
    rem = num % 10
    rev = rev * 10 + rem
    num = num // 10
if temp == rev :
       print("palindrome number")
else:
       print("Not palindrome number")

Not palindrome number

In [ ]:
i=1
while i <=100:
  print(i,end=" ")
  i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
num, a, b = 10, 0, 1
i = 0
while i <= num :
  print(a,end= " ")
  a,b = b, a+b
  i+=1

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
num = int(input("Enter a number value:"))
count = 0
i = 1
while i <= num :
  if num % i == 0 :
    count = count + 1
  i = i + 1
if count == 2 :
  print(num,"is a prime number")
else :
  print(num,"is not a prime number")

Enter a number value:7
7 is a prime number

In [ ]:
num = 10
i = 0
while num >= i :
  print(num, end= " ")
  num-=1

10 9 8 7 6 5 4 3 2 1 0

In [ ]:
i= 10
while i <=1280:
  print(i,end=" ")
  i*=2

10 20 40 80 160 320 640 1280

In [ ]:
colour = ['blue','red','pink','black']
print(type(colour))

for i in colour :
  print(i)

<class 'list'>
blue
red
pink
black

In [ ]:
number = {1,2,3,4,5,6,7,8,8,9}
for i  in number:
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
Name = "KLE BK BCA COLLEGE IN CHIKODI"
rev = ""
for i in Name :
    rev = i + rev
print(rev)

In [ ]:
for i in range(1,10+1,2):
  print(i,end="  ")

In [193]:
sum=0
for i in range(1,11) :
  sum+=i
  print("sum of N Natural numbers is ",sum)

sum of N Natural numbers is  1
sum of N Natural numbers is  3
sum of N Natural numbers is  6
sum of N Natural numbers is  10
sum of N Natural numbers is  15
sum of N Natural numbers is  21
sum of N Natural numbers is  28
sum of N Natural numbers is  36
sum of N Natural numbers is  45
sum of N Natural numbers is  55

In [194]:
# table of 4
i=1
num=4
for i in range (1,11):
   print("4*",i,"=",num*i)

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [197]:
# even number
for i in range(2,101,2):
  print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [199]:
# factorial
fact=1
for i in range(1,6):
  fact=fact*i
print("factorial of 5 is",fact)

factorial of 5 is 120

In [204]:
# Fibonacci series using for loop
num = 12
a, b = 0, 1
print(a, end=" ")
print(b, end=" ")
for i in range(2, num + 1):
  c = a + b
  print(c, end=" ")
  a = b
  b = c

0 1 1 2 3 5 8 13 21 34 55 89 144