In [19]:
a=[1,1,2,2,3,2]
print(a)

[1, 1, 2, 2, 3, 2]

In [20]:
Example=["Laptop",39000,"Window","Lenovo","Bengaluru","Laptop",39000,"MAC","Lenovo","chikodi"]
print(Example)
print(Example.count("Lenovo"))

['Laptop', 39000, 'Window', 'Lenovo', 'Bengaluru', 'Laptop', 39000, 'MAC', 'Lenovo', 'chikodi']
2

In [21]:
#compile time program
A=10
B=20
print(A+B)

30

In [22]:
X=int(input("Enter X value:"))
Y=int(input("Enter Y value:"))
print("Addition of ",X," and " ,Y,"value is=",X+Y)

Enter X value:10
Enter Y value:20
Addition of  10  and  20 value is= 30

In [23]:
first=float(input("Enter first value:"))
second=float(input("Enter second value:"))
print("multiplication of ",first," and " ,second,"value is=",first*second)

Enter first value:7
Enter second value:5
multiplication of  7.0  and  5.0 value is= 35.0

In [24]:
first_name=input("Enter first name:")
last_name=input("Enter last name:")
print(first_name+"   "+last_name)

Enter first name:ajit
Enter last name:kanade
ajit    kanade

In [25]:
i=float(input("Enter i value:"))
j=float(input("Enter j value:"))
print("multiplication of ",i," and " ,j,"value is=",i*j)

Enter i value:7
Enter j value:5
multiplication of  7.0  and  5.0 value is= 35.0

In [28]:
X=100
Y=50
print(f'Addition of{X} and {Y} value is = {X+Y}')

Addition of100 and 50 value is = 150

In [32]:
X=100
Y=5
print(f'Division of{X} and {Y} value is = {X/Y}')

Division of100 and 5 value is = 20.0

In [39]:
#Hi,Good Morning MY name is vinayak,I have completed puc in the year of
#2022,currently i'm studying BCA in KLE BK BCA College Chikodi 591201
name="vinayak"
course="puc"
year=2022
college="BK BCA"
pincode=591201
print(f'hi Good Morning,my name is,{name},i have completed,{course} in the year of{year},currently im studying in {college},{pincode}')

hi Good Morning,my name is,vinayak,i have completed,puc in the year of2022,currently im studying in BK BCA,591201

In [58]:
#arthimetic operation
Num1=int(input("enter Num1 value:"))
Num2=int(input("enter Num2 value:"))
print('Addition of two number is'"Num1+Num2")
print('substraction of two number is' "Num1-Num2")
print('multiplication of two number  is'


Num1*Num2")
print('division of two number is'{Num1/Num2})
print('modulus of two number  is'  {Num1%Num2})
print('floor division of two number  is'  {Num1//Num2})
print('exponent of two number is' {Num1**Num2})

enter Num1 value:00
enter Num2 value:580
Addition of two number isNum1+Num2
substraction of two number isNum1-Num2
multiplication of two number  isNum1*Num2
division of two number isNum1/Num2
modulus of two number  isNum1%Num2
floor division of two number  isNum1//Num2
exponent of two number isNum1**Num2

In [67]:
number1=35
number2=40
print(number1 > number2)
print(number1 < number2)
print(number1 == number2)
print(number1 != number2)
print(number2 != 40)
print(number2 >= 40)
print(10 !=20)
print(number1 == number2)
print(number2 != number1)

False
True
False
True
False
True
True
False
True

In [80]:
a =20
b =35
c =13
d =10
print (a==b and c<d )
print( 13 != c and d<c)
print(b>a and d<c)
print( 20!= a and c==b)
print(a<b or d == c)
print((not(a<b))and 100 < 200)
print(not(d ==10))
print( 35 != d or (not(20==a)))
print(not(c <=b and (not(a <=c))))

False
False
True
False
True
False
False
True
False

In [113]:
X=10
X-=2
print(X)

X*=5
print(X)

X*=3
print(X)

X//=3
print(X)

X **=2
print(X)

X%=4
print(X)

X+=9
print(X)

X/=3
print(X)

8
40
120
40
1600
0
9
3.0

In [114]:
X=10
X-=2
print(X)

X*=5
print(X)

X*=3
print(X)

X//=3
print(X)

X **=2
print(X)

X%=4
print(X)

X+=9
print(X)

X/=3
print(X)

8
40
120
40
1600
0
9
3.0

In [7]:
Num=9
if Num<10:
  print("10 is a greater than 9")

10 is a greater than 9

In [10]:
User_id="20MCA103"
Password=1234
if User_id=="20MCA103" and Password==1234:
  print("Login Successfull")

Login Successfull

In [18]:
ex=59
if ex ==58:
 print("Are you understand")

In [23]:
Name="Basu"
if Name=="Bkc":
  print("my name is Basu")

In [39]:
Num=int(input("Enter value of a number:"))
if Num > 0 :
  print("positive number")
else:
    print("negative number")

Enter a number value:-7
negative number

In [51]:
Num=int(input("Enter a number value:"))
if Num % 2==0:
  print("even number")
else:
    print("odd number")

Enter a number value:96
even number

In [60]:
year=int(input("Enter value of a year:"))
if year%4==0 :
  print("leap number")
else:
    print(" non leap year")

Enter value of a year:2025
 non leap year

In [64]:
Age=int(input("Enter value of a Age:"))
if Age>18:
  print("Eligible")
else:
    print(" non Eligible")

Enter value of a Age:20
Eligible

In [75]:

Password=int(input("Enter value of a Password:"))
if Password==1234:
  print("Login Successfull")
else:
    print("Login Failed")

Enter value of a Password:2001
Login Failed

In [94]:
int(input("Enter a number value:"))
if   Num>=85:
  print("Distiction")
elif Num>=75:
  print("First Class")
elif Num>=55:
  print("Second Class")
else:
 print("Fail")

Enter a number value:85
Distiction

In [115]:
place=input("Enter a place")
if place=="FIRST PRIZE":
 print("Gold medal")
elif place=="SECOND PRIZE":
 print("Silver medal")
elif place=="THIRD PRIZE":
 print("Bronze medal")
else:
  print("No medal")

Enter a placeFIRST PRIZE
Gold medal

In [119]:
SIGNAL=input("Enter a Signal")
if SIGNAL=="RED":
 print("STOP")
elif SIGNAL=="YELLOW":
 print("READY")
elif SIGNAL=="GREEN":
 print("GO")
else:
  print("invalid colors")

Enter a SignalYELLOW
READY