In [ ]:
sentens = "python programming language"
count = 0
for ch in sentens:
    if ch in "aeiou":
        count += 1
print("Total vowels is:",count)

Total vowels is: 8

In [ ]:

# write program area of triangle

base = 10
height = 5
area = 0.5 * base * height
print("The area of the triangle is:", area)

The area of the triangle is: 25.0

In [ ]:
#write progrm area of circle
import math

radius = 5
  # Example radius
area = math.pi * (radius ** 2)
print("The area of the circle is:", area)

The area of the circle is: 78.53981633974483

In [ ]:
sentens = "Bachelor of computer science first semester section c"
count = 0
vowels = "aeiouAEIOU"
for ch in sentens:
    if ch.isalpha() and ch not in vowels:
        count += 1
print("Total consonants is:", count)

Total consonants is: 29

In [ ]:
ex = [5,25,35,28,45,10,15]
largest_number = ex[0]
for num in ex:
    if num > largest_number:
        largest_number = num
print("The largest number in the list is:", largest_number)

The largest number in the list is: 45

In [ ]:
sentens = "Bachelor of computer science first semester section c"

Total consants is: 8

In [ ]:
bikes = ["RX 100", "GT 650","Ninja","Splender","Bajaj","Pulsar","NS 200","M 80","Unicorn"]
for bike in bikes:
    if bike == "NS 200" :
      break
    print(bike)

RX 100
GT 650
Ninja
Splender
Bajaj
Pulsar

In [ ]:
colours = {"Purple","Pink","Black","white","Red","Orange","Levender","Grey","Yellow","Maroon"}
for color in colours :
    if color == "Black" :
       break
    print(color)

In [ ]:
fruit=("APPLE","ORANGE","MANGO","STRAWBERRY","Dragon fruit","Greeps","Banana","pinapal","pappaya","Water melon")
for fruits in fruit:
    if fruits == "MANGO" :
        continue
    print(fruits)

APPLE
ORANGE
STRAWBERRY
Dragon fruit
Greeps
Banana
pinapal
pappaya
Water melon

In [ ]:
Mobiles = {"vivo","Redmi","oppo","vivo","vivo","vivo","oppo","Iqee","vivo","one plus"}
for mobile in Mobiles:
    if mobile == "vivo":
        continue
    print(mobile)

Redmi
one plus
Iqee
oppo

In [ ]:
Movies=["KGF","Chhava","Bahubali","Saiyara","RRR","Kalki","Kannadakagi onendanu otti"]
for Movie in Movies:
    if Movie == "RRR":
       pass
    print(Movie)

KGF
Chhava
Bahubali
Saiyara
RRR
Kalki
Kannadakagi onendanu otti

In [ ]:
thing = {"mobile","laptop","monitor","tab","book","pen","pepar"}
for thing in thing:
   if thing == "mobile":
    continue
   print(thing)

laptop
tab
book
monitor
pen
pepar

In [ ]:
for i in range (10) :
  for j in range (10) :
    print(i,end=" ")
  print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [ ]:
for i in range (1,11) :
  for j in range (j) :
    print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [69]:
for i in range (1,11) :
  for j in range (j) :
    print(j,end=" ")
  print()

In [17]:
for i in range (5) :
  for j in range (i+1,5) :
    print(" ",end=" ")
  for j in range(10) :
      print("*",end=" ")
  print()

        * * * * * * * * * *
      * * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * *
* * * * * * * * * *

In [18]:
for i in range (5) :
  for j in range (i+1,5) :
    print(" ",end=" ")
  for j in range(10) :
      print("😍",end=" ")
  print()

        😍 😍 😍 😍 😍 😍 😍 😍 😍 😍
      😍 😍 😍 😍 😍 😍 😍 😍 😍 😍
    😍 😍 😍 😍 😍 😍 😍 😍 😍 😍
  😍 😍 😍 😍 😍 😍 😍 😍 😍 😍
😍 😍 😍 😍 😍 😍 😍 😍 😍 😍

In [19]:
row = 10
col = 10
for i in range (0,row) :
  for j in range (0,col) :
    if i == 0 or j == 0 or i == row-1 or j == col-1 :
      print("♥️",end=" ")
    else :
      print(" ",end=" ")
  print()

♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️
♥️                 ♥️
♥️                 ♥️
♥️                 ♥️
♥️                 ♥️
♥️                 ♥️
♥️                 ♥️
♥️                 ♥️
♥️                 ♥️
♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️

In [28]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
      print(" ",end=" ")
  for j in range(0,i*2+1):
      print("*",end=" ")
  print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [43]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
      print(" ",end=" ")
  for j in range(0,i*2+++1):
      print(chr(97+j),end=" ")
  print()

            a
          a b c
        a b c d e
      a b c d e f g
    a b c d e f g h i
  a b c d e f g h i j k
a b c d e f g h i j k l m

In [56]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
      print(" ",end=" ")
  for j in range(0,i*2+++1):
      print("♥️",end=" ")
  print()
for i in range(0,num):
  for j in range(0,i):
      print(" ",end=" ")
  for j in range(0,(num-i)*2-1):
      print("♥️",end=" ")
  print()

            ♥️
          ♥️ ♥️ ♥️
        ♥️ ♥️ ♥️ ♥️ ♥️
      ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️
    ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️
  ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️
♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️
♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️
  ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️
    ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️
      ♥️ ♥️ ♥️ ♥️ ♥️ ♥️ ♥️
        ♥️ ♥️ ♥️ ♥️ ♥️
          ♥️ ♥️ ♥️
            ♥️

In [101]:
def Example(roll_number,name,section,department,college) :
  print(f"My name is {name}, i'm studying {department} in {college} college. My roll_number is {roll_number} and section is {section}")
Example(101,"vinayak","A","BCA","KLE")

My name is vinayak, i'm studying BCA in KLE college. My roll_number is 101 and section is A

In [110]:
def fun(name,game,time):
  print(f"I'm {name};i'm playing {game} at {time} time")
fun(time = "Evening",name = "Vinayak",game = "free fire")

I'm Vinayak;i'm playing free fire at Evening time

In [111]:
def Laptop(name = "Lenovo"):
  print(f"My laptop name is :",name)
Laptop("dell")
Laptop("hp")
Laptop()
Laptop("asus")

My laptop name is : dell
My laptop name is : hp
My laptop name is : Lenovo
My laptop name is : asus