In [ ]:
# Fibonacci series / number using function Recursion
def fibo(num):
  if num <= 1:
     return num
  else :
      return fibo(num-1) + fibo(num-2)

for i in range(11):
  print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
# 1) Example sum of numbers using *args
def add (*args):
    total = 0
    for num in args:
        total += num
    print("Total value is:",total)

add(10,5)
add(5,4,9)
add(10,14)

Total value is: 15
Total value is: 18
Total value is: 24

In [ ]:
def details(**kwarges):
  for key,value in kwarges.items():
   print(f"my details is {key} and {value}")

details(course = "BCA",section='C',college="BK College")
details(place="chikodi")
details(roll_number=201,T_subject=7)
details(Laptop = "Lenovo", O_S = "WIndow", year = 2022, version = "windows 11")

my details is course and BCA
my details is section and C
my details is college and BK College
my details is place and chikodi
my details is roll_number and 201
my details is T_subject and 7
my details is Laptop and Lenovo
my details is O_S and WIndow
my details is year and 2022
my details is version and windows 11

In [ ]:
# Example of *args and**Kwargs
def Show_values(*args,**Kwargs):
  print("Positional Arguments represented in Tuple",args)
  print("Key - words Arguments represented in Dict ", Kwargs)
Show_values(1,2,3,4,name="ajit")
Show_values(5,8,1,10,Class = "BCA C section",gender="male")

Positional Arguments represented in Tuple (1, 2, 3, 4)
Key - words Arguments represented in Dict  {'name': 'ajit'}
Positional Arguments represented in Tuple (5, 8, 1, 10)
Key - words Arguments represented in Dict  {'Class': 'BCA C section', 'gender': 'male'}

In [ ]:
fact = 1
for i in range(1,6):
  fact = fact * i
print(fact)

120

In [ ]:
#Calculate factorial using a while loop
num = 5
fact = 1
i = 1
while i <= num:
  fact = fact * i
  i = i + 1
print(f"The factorial of {num} is: {fact}")#

The factorial of 5 is: 120

In [ ]:
def factorial(n):
  """Calculates the factorial of a non-negative integer."""
  if n == 0:
    return 1
  else:
    fact = 1
    for i in range(1, n + 1):
      fact = fact * i
    return fact

# Example usage:
num = 7
result = factorial(num)
print(f"The factorial of {num} is: {result}")

The factorial of 7 is: 5040

In [ ]:
def fact(num) :
  if num==0 or num==1:
    return 1
  else:
    return num*fact(num-1)
num=5
result=fact(num)
print(result)

120

In [ ]:
# Sum of natural numbers
num = 10
total = 0
for i in range(1, num + 1):
  total += i
print(f"The sum of natural numbers up to {num} is: {total}")

The sum of natural numbers up to 10 is: 55

In [ ]:
def sum(num):
  if num == 0 :
    return num
  else:
      return num + sum(num-1)
print("sum of N natural number is :",sum(10))

sum of N natural number is : 55

In [ ]:
Name ="Vasu"
print(Name[:4])

Vasu

In [ ]:
class Fruit :
  colour="orange"
  price=250
  Teste="sweet"
  Shape="circle"
def juice(self):
    print(" ")
orange= Fruit()
print(orange.colour)

orange

In [ ]:
class flower:
  colour="pink"
  price=25
  smell="nice"
  shape="circle"
  def decoration(self):
    print("good")
rose=flower()
print("rose colour is",rose.colour)
rose.decoration()
print("rose price is",rose.price)
print("rose smell is",rose.smell)
print("rose shape is",rose.shape)

print(obj.colour)

rose colour is pink
good
rose price is 25
rose smell is nice
rose shape is circle
pink

In [ ]:
class fan:
  colour="black"
  price=2500
  warrenty="2 years"
  c_name="bajaj"
  def start(self):
    print("when click on button it'll start ")
  def speed(self):
    print ("5 speed is there")
  def stop(self):
    print("when click on off  button it'll stop")

obj = fan()
print (obj.c_name + " fan colour is " + obj.colour)
print (obj.c_name + " fan price is " + str(obj.price))
print (obj.c_name + " fan warrenty is " + obj.warrenty)
obj.stop()

bajaj fan colour is black
bajaj fan price is 2500
bajaj fan warrenty is 2 years
when click on off  button it'll stop

In [ ]:
# banking example

class bank :
  def __init__(self,balance) :
    self.balance = balance

  def deposit(self,amount) :
     self.balance += amount

  def withdrow(self,amount):
      if amount <= self.balance :
         self.balance -= amount
         print("transaction successfully")
      else:
         print("insufficient balance")

  def re_balance(self) :
      return self.balance

obj = bank(1000)
print(obj.balance)
obj.deposit(500)
print(obj.balance)
obj.withdrow(700)
print(obj.re_balance())
obj.deposit(1000)
print("current total balance is ",obj.re_balance())
obj.withdrow(2000)
print("current total balance is ",obj.re_balance())
print(1500,obj.withdrow(1500))
print("current total balance is ",obj.re_balance())
obj.deposit(100000)
print("current total balance is ",obj.re_balance())

1000
1500
transaction successfully
800
current total balance is  1800
insufficient balance
current total balance is  1800
transaction successfully
1500 None
current total balance is  300
current total balance is  100300

In [ ]:
# Encapsulation Example
class student :
  def __init__(self,name,marks,place):
    self._name = name
    self._marks = marks
    self.place = place
  def set_method(self,name,marks):
    self.name = name       #Pravet variable
    self.marks = marks     #public variable

  def get_name(self):
    return self._name

  def get_marks(self):
    return self._marks

obj = student("vinayak",85,"chikodi")
print(obj.get_name())
print(obj.get_marks())
print(obj.place)

vinayak
85
chikodi

In [180]:
# 1) singal Inheritance
class Parent :
    def work(self):
        print("my parents are doing farming")
class children(Parent):
    def study(self):
        print("I'm studying BCA in bk college")
ch = children()
ch.work()
ch.study()

my parents are doing farming
I'm studying BCA in bk college

In [182]:
# multiple Inheritance:
class Father :
    def Hi(self):
        print("My father is my first hero")
class mother :
    def Hello(self):
        print("My father is my House wife")
class child(Father, mother):
    def Bye(self):
        print("I'm working as a Freelancer")

obj = child()
obj.Hi()
obj.Hello()
obj.Bye()

My father is my first hero
My father is my House wife
I'm working as a Freelancer

In [191]:
# Multi Level Inheritance
class Grand_parents :
  def Formar(self):
      print("九九九九九")

class Parents(Grand_parents) :
  def House(self):
      print("游떂游떂游떂游떂")

class Child (Parents):
  def Jolly(self):
      print("游꺔游꺔游꺔游꺔")

Obj = Child()
Obj.House()
Obj.Jolly()
Obj.Formar()

游떂游떂游떂游떂
游꺔游꺔游꺔游꺔
九九九九九

In [192]:
# Hirarchy Inheritance
class Parents :
  def Business(self):
    print("My parents are doing business")

class Child1(Parents) :
  def Study(self):
    print("I'm Studying BCA ")

class Child2(Parents) :
  def Study(self):
    print("I'm Studying PUC ")

Ch = Child1()
Ch.Business()
Ch.Study()

Obj = Child2()
Obj.Business()
Obj.Study()

My parents are doing business
I'm Studying BCA
My parents are doing business
I'm Studying PUC