In [ ]:
a,b,c="Good","Morning",18
print(a, b, c)

Good Morning 18

In [ ]:
Name, College, Degree, Roll= "Vinayak","Bk", "BCA",171
print("Hi, Good Morning, I'M",Name,"i'm studying",Degree,"in",College,"college at chikkodi, my roll number is",Roll)

Hi, Good Morning, I'M Vinayak i'm studying BCA in Bk college at chikkodi, my roll number is 171

In [ ]:
a=b,c="College",25
print(b,c,a)

College 25 ('College', 25)

In [ ]:
A=10
B=20
print("addition of",A,"and",B,"is",A+B)

addition of 10 and 20 is 30

In [ ]:
 A=10
 print(type(A))

<class 'int'>

In [ ]:
x=10001
print(type(x))

<class 'int'>

In [ ]:
number =-100.3333
print(type(number))

<class 'float'>

In [ ]:
yes= "Program"
print(type(yes))

<class 'str'>

In [ ]:
yes=True
print (type(yes))

<class 'bool'>

In [ ]:
 roll=[1,2,3,4,5]
 print(type(roll))

<class 'list'>

In [ ]:
first="BKC"
second="COLLEGE"
print((first + second)*5)"\n"

SyntaxError: unexpected character after line continuation character (ipython-input-3809789374.py, line 3)

In [123]:
name="python programming language"
print(name[5])
print(name[-2])
print(name[18])
print(name[3:14])
print(name[:20])
print(name[6:])
print(name[:-1])
print(name[:20])
print(name[6:])
print(name[:-1])

n
g

hon program
python programming l
 programming language
python programming languag
python programming l
 programming language
python programming languag

In [ ]:
#hi Good Morning 'Single line comment'
''

In [131]:
roll=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60]
print(roll)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [135]:
arr=[101,"Ajit",True,85.12]
print(arr)

[101, 'Ajit', True, 85.12]

In [187]:
details = [101]
print(details)
print(type(details))
details.append(85.12)
print(details)
details.append(True)
print(details)
print(len(details))
print(details.pop())
print(details)
details.append("ajit")
print(details)
details.append(-99)
print(details)
print(len(details))
print(details[2])
print(details[-1])
details.append("BKC COLLEGE")
print(details)
details[3]=99
print(details)
print(details[2:4])
details.insert(2,False)
print(details)
print(len(details))
details.remove(False)
print(details)
print(len(details))
print(details)
print(details[::-1])
print(details.count(101))
print(details.clear())
print(type(details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
[101, 85.12, 'ajit']
[101, 85.12, 'ajit', -99]
4
ajit
-99
[101, 85.12, 'ajit', -99, 'BKC COLLEGE']
[101, 85.12, 'ajit', 99, 'BKC COLLEGE']
['ajit', 99]
[101, 85.12, False, 'ajit', 99, 'BKC COLLEGE']
6
[101, 85.12, 'ajit', 99, 'BKC COLLEGE']
5
[101, 85.12, 'ajit', 99, 'BKC COLLEGE']
['BKC COLLEGE', 99, 'ajit', 85.12, 101]
1
None
<class 'list'>

In [205]:
information=[108]
print(information)
print(type(information))
information.append("ajit")
print(information)
print(len(information))
information.insert(2,False)
print(information.pop())
print([2])
print(information[::-1])
information.append(108)
print(information)
information.append(-99)

[108]
<class 'list'>
[108, 'ajit']
2
False
[2]
['ajit', 108]
[108, 'ajit', 108]